In [1]:
import pandas as pd

In [2]:
# Read files
df_diagnoses = pd.read_excel("../sample_data/raw_data/Diagnoses.xlsx", header=None)
df_notities = pd.read_excel("../sample_data/raw_data/Notities.xlsx", header=None)
# df_diagnoses = pd.read_csv("FILEPATH_DIAGNOSES.csv", sep=';', header=None)
# df_notities = pd.read_csv("FILEPATH_NOTITIES.csv", sep=';', header=None)

# Search queries
search_5 = ['acute respiratoire aandoening door SARS-CoV-2', 'acute respiratoire aandoening vermoedelijk door SARS-CoV-2']
search_7 = ["COVID-19, virus geïdentificeerd [U07.1]", "COVID-19, virus niet geïdentificeerd [U07.1]"]

# Create df with selected MDN ids
df_selection = df_notities.loc[df_notities[0].isin(MDN_ids)]

# Write to csv
df_selection.to_csv('Covid_notities.csv', sep=';')

In [3]:
def select_ids(search_5, search_7):

    MDN_ids = set()
    for query in search_5:
        temp_set = set(df_diagnoses.loc[df_diagnoses[5] == query][0])
        MDN_ids.update(temp_set)

    for query in search_7:
        temp_set = set(df_diagnoses.loc[df_diagnoses[7] == query][0])
        MDN_ids.update(temp_set)

    return MDN_ids

{12345, 12346, 913847}

In [4]:
df_diagnoses

,0,1,2,3,4,5,6,7
0,12345,11111,aaa,22222,aaa,acute respiratoire aandoening vermoedelijk doo...,bbb,ccc
1,12346,222,bbb,34513,dvdva,acute respiratoire aandoening door SARS-CoV-2,kjhkj,"COVID-19, virus geïdentificeerd [U07.1]"
2,913847,13498,dkjv,130498,akvd,acute respiratoire aandoening vermoedelijk doo...,lakfjd,"COVID-19, virus niet geïdentificeerd [U07.1]"
3,45829,5438,dsklfj,43958,vcslkj,dsakljfas,sdlfkja,NaN
4,34958,5438,dsklfj,43958,vcslkj,dsakljfas,sdlfkja,aslf

In [5]:
df_notities

        0      1           2          3        4           5          6
0   12345     23      kldjfa 2020-05-01  adsfjal   aadkslfj   sdafkjglj
1   12346   3241     wrwqejr 2020-07-07   dksjfa    vjk dmsd    dvalkjf
2  913847    234  ldsjalkjf  2020-05-12   sdjfsk  lkaajvlja         NaN
3  458957  31098        dfjk 2020-05-12    slkfj       alkfj    sdlkafj

        0     1           2          3        4           5          6
0   12345    23      kldjfa 2020-05-01  adsfjal   aadkslfj   sdafkjglj
1   12346  3241     wrwqejr 2020-07-07   dksjfa    vjk dmsd    dvalkjf
2  913847   234  ldsjalkjf  2020-05-12   sdjfsk  lkaajvlja         NaN